@import "~bootstrap/scss/bootstrap.scss";

.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: rgb(60, 60, 60);
}

.font-text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 80px;
}